header
    ul.menu
        li.menu__link
            span.menu__link_text WORKS
            span.menu__link_line.menu__link_line_long
        li.menu__link 
            span.menu__link_text ABOUT
            span.menu__link_line.menu__link_line_short
        li.menu__link 
            span.menu__link_text SERVICES
            span.menu__link_line.menu__link_line_short
        li.menu__link 
            span.menu__link_text BLOG
            span.menu__link_line.menu__link_line_short
        li.menu__link 
            span.menu__link_text CONTACT
            span.menu__link_line.menu__link_line_short