include ../utils/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FreebieAgency - #{title}
        link(href=`css/style.css`, rel="stylesheet")
        block head
    body
        .container
            block content
            //- include ../blocks/footer
            block script
            script(src='/bundle.bundle.js')